*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: $font;
    color: $gray;
}

.background-img {
    margin-top: -50px;
    width: 100%;
    display: block;
    z-index: -5;
}

main {
    height: 100%;
    min-height: 100vh;
    background-color: rgba($gray, 0.1);
    position: relative;
}