.header {
    @include content;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        transform: scale(1.05);
        z-index: 10;
    }

    &__hamburger {
        border: none;
        background: transparent;
        z-index: 10;

        &:hover {
            cursor: pointer;
        }

    }

    @include tablet {
        
        &__hamburger {
            display: none;
        }
    }
}