.riser {
    @include card;

    margin-top: -60px;
    padding-top: 0;
    text-align: center;

    &__logo {
        margin-top: -28px;
    }

    &__title {
        margin-top: 30px;
        font-size: 1.5rem;
        color: $black;
    }

    &__text {
        margin-top: 20px;
        font-size: $xs-text;
        line-height: 1.5rem;
    }

    &__buttons {
        @include flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }

    &__button {
        @include button;
    }

    &__bookmark {
        border: none;
        border-radius: 100px;
        @include flex;
        background-color: $light-gray;
    }

    &__bookmark-text {
        padding: 0 2rem;
        font-weight: $bold;
        color: $gray;
        font-size: 1rem;
        display: none;
    }

    @include tablet {

        &__title {
            font-size: 2rem;
        }

        &__text {
            font-size: $m-text;
        }

        &__buttons {
            margin-top: 40px;
        }

        &__bookmark-text {
            display: unset;
        }
    }
}