//colors
$primary: hsl(176, 50%, 47%);
$hover: hsl(176, 72%, 28%);
$black: #000000;
$gray: hsl(0, 0%, 48%);
$white: #ffffff;

//font
$font: 'Commissioner', sans-serif;
$semi-bold: 500;
$bold: 700;
$xs-text: 0.85rem;
$m-text: 1rem;

//sizes
$tablet: 768px;
$desktop: 1440px;