*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
}

.background-img {
  margin-top: -50px;
  width: 100%;
  display: block;
  z-index: -5;
}

main {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(122, 122, 122, 0.1);
  position: relative;
}

.header {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  transform: scale(1.05);
  z-index: 10;
}
.header__hamburger {
  border: none;
  background: transparent;
  z-index: 10;
}
.header__hamburger:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.nav {
  width: 85%;
  position: absolute;
  top: -500px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: top 0.5s;
  z-index: 10;
}
.nav--open {
  top: 90px;
}
.nav__overlay {
  height: 100vh;
  position: fixed;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  transition: top 0.4s;
}
.nav__overlay--open {
  top: 0;
}
.nav__list-item {
  padding: 1.4rem 0;
}
.nav__list-item:not(.nav__list-item:last-child) {
  border-bottom: 1px solid rgba(122, 122, 122, 0.2);
}
.nav__link {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
}
.nav__link:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav {
    width: auto;
    position: unset;
    border-radius: unset;
    background-color: transparent;
  }
  .nav__overlay {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav__list-item {
    padding: unset;
  }
  .nav__list-item:not(.nav__list-item:last-child) {
    border-bottom: none;
    margin-right: 30px;
  }
  .nav__link {
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
  }
}

.riser {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -60px;
  padding: 0 1.5rem 2.5rem 1.5rem;
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid rgba(122, 122, 122, 0.15);
  border-radius: 10px;
  text-align: center;
}
.riser__logo {
  margin-top: -28px;
}
.riser__title {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #000000;
}
.riser__text {
  margin-top: 20px;
  font-size: 0.85rem;
  line-height: 1.5rem;
}
.riser__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.riser__button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 50px;
  background-color: #3cb4ac;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
.riser__button:hover {
  background-color: #147b74;
}
.riser__bookmark {
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(122, 122, 122, 0.15);
}
.riser__bookmark-text {
  padding: 0 2rem;
  font-weight: 700;
  color: #7a7a7a;
  font-size: 1rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .riser {
    padding: 0 3rem 2.5rem 3rem;
  }
  .riser__title {
    font-size: 2rem;
  }
  .riser__text {
    font-size: 1rem;
  }
  .riser__buttons {
    margin-top: 40px;
  }
  .riser__bookmark-text {
    display: unset;
  }
}

/*# sourceMappingURL=main.css.map */
